{% extends 'base.html' %}


{% block title %}Seller Details {% endblock %}

{% block content %}

    <div class="page-header" align="center" xmlns="http://www.w3.org/1999/html">
        <h1>{{ object.name }}</h1>
    </div>
    <div class="container">
        <div class="navbar-header">

            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-toggle"></span>
            </button>
            <a class="navbar-brand" href="#">SUPERMARKET LOGO</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="/">HOME<span class="sr-only">Items</span></a>
            </li>
            <li><a href="# "></i> CATEGORIES </a></li>
            <li><a href="#"> RECEPIES </a></li>
            <li><a href="#"></a></li>
            <li>
                <div id="search_block_top" align="center">
                    <div id="search_block_top_wrap">
                        <form id="searchbox" method="get"
                              action="#">
                            <input class="search_query form-control" type="text"
                                   id="search_query_top"
                                   placeholder="Search For Products" name="search"/>
                        </form>
                        {#                        <button type="submit" class="btn btn-success button-search">Search </button>#}
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <hr>
    {#    <div id="showimage">#}
    {##}
    {#        {% for sellerproduct in seller_product_list %}#}
    {##}
    {#            <div class="col-sm-3">#}
    {#                <img class='img-responsive' src="../media/{{ sellerproduct.seller_product_image }}" width="150"#}
    {#                     height="113">#}
    {#                {{ sellerproduct.product_name }}<br>Ug.Shs{{ sellerproduct.seller_price }} Each#}
    {#                <br>{{ sellerproduct.category }}#}
    {#            </div>#}
    {##}
    {#        {% endfor %}#}
    {#    </div>#}
    {% for sellerproduct in seller_product_list %}
        <div class="col-xs-6 col-md-3">
            <div class="thumbnail">
                <div class="caption">
                    <a href="#">
                        <img class='img-responsive' src="../media/{{ sellerproduct.seller_product_image }}"
                             width="150"
                             height="113">
                    </a>
                </div>

                <h3> {{ sellerproduct.product_name }}</h3>

                <p> Ug.Shs{{ sellerproduct.seller_price }} Each
                </p>
                <p>{{ sellerproduct.category }}

{#                <a href="#" class="btn btn-success" align="pull-right" role="button">More Details</a>#}
                <a href="#" class="btn btn-success" align="pull-right"
                   role="button"><span class="glyphicon glyphicon-plus"></span> More Details</a>
            </div>
        </div>
    {% endfor %}

    {#    <div class="container">#}
    {#        <div class="row">#}
    {#            <p>Seller Name: {{ object.name }}</p>#}
    {#            <p>Seller Contact: {{ object.contact }}</p>#}
    {#            <p>Seller Address: {{ object.address }}</p>#}
    {#            <p>Seller Email: {{ object.email }}</p>#}
    {#            <p>Seller Country: {{ object.country }}</p>#}
    {#            <p>Seller Contact Person: {{ object.contact_person }}</p>#}
    {##}
    {#        </div>#}
    {#    </div>#}

{% endblock %}
