{% extends 'base.html' %}


{% block title %}Seller Details {% endblock %}

{% block content %}

    <div class="page-header" align="center" xmlns="http://www.w3.org/1999/html">
        <h1>{{ object.name }}</h1>
    </div>

        <div class="container">
            <div align="center">
                <p>Seller Name: {{ object.name }}</p>
                <p>Seller Contact: {{ object.contact }}</p>
                <p>Seller Address: {{ object.address }}</p>
                <p>Seller Email: {{ object.email }}</p>
                <p>Seller Country: {{ object.country }}</p>
                <p>Seller Contact Person: {{ object.contact_person }}</p>

            </div>
        </div>

{% endblock %}