{% extends 'base.html' %}
{% load bootstrap3 %}
{% block title %}Confirm Update?{% endblock %}

{% block content %}
    <div id="content-container" class="container p-none">
        <div class="side-p">
            <h3>Are you sure?</h3>
             <p>You're about to edit Seller object. Please confirm.</p>
            <form action="" method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                <input type="submit" value="Update Seller" class="btn btn-success"> </form>
        </div>
    </div>
{% endblock %}

