{% extends 'base.html' %}

{% load static from staticfiles %}

{% block title %} Sellers Products List {% endblock %}

{% block content %}
        <h1 align="center">Seller Products</h1>

        {% for sellerproducts in sellersproduct %}

            <div class="col-sm-3">
                <div class="col-sm-3">
                    <img class='img-responsive' src="../media/sellers{{ sellerproduct.seller_product_image }}"
                         width="150" height="113">
                    {{ sellerproduct.product_name }}<br>Ug.Shs{{ sellerproduct.seller_price }}
                    </ul>
                </div>
            </div>

        {% endfor %}



    {#    <div class="col-xs-12  ">#}
    {#        <div class="col-xs-4 col-md-3">#}
    {#            <div class="thumbnail">#}
    {#                <div class="caption">#}
    {#                    <a href="#">#}
    {#                        <img src='{% static "img/printers.jpg" %}' alt="...">#}
    {#                    </a>#}
    {##}
    {##}
    {#                    <h3>Printers</h3>#}
    {##}
    {#                    <p>......</p>#}
    {##}
    {#                    <a href="#" class="btn btn-primary" role="button">More Details</a>#}
    {##}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#        <div class="col-xs-4 col-md-3">#}
    {#            <div class="thumbnail">#}
    {#                <div class="caption">#}
    {#                    <a href="#">#}
    {#                        <img src='{% static "img/laptops.jpg" %}' alt="...">#}
    {#                    </a>#}
    {#                    <h3>Printers</h3>#}
    {##}
    {#                    <p>......</p>#}
    {##}
    {#                    <a href="#" class="btn btn-primary" role="button">More Details</a>#}
    {##}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#        <div class="col-xs-4 col-md-3">#}
    {#            <div class="thumbnail">#}
    {#                <div class="caption">#}
    {#                    <a href="#">#}
    {#                        <img src='{% static "img/hp laptop.jpg" %}' alt="...">#}
    {#                    </a>#}
    {##}
    {##}
    {#                    <h3>Printers</h3>#}
    {##}
    {#                    <p>......</p>#}
    {##}
    {#                    <a href="#" class="btn btn-primary" role="button">More Details</a>#}
    {##}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {##}
    {#        <div class="col-xs-4 col-md-3">#}
    {#            <div class="thumbnail">#}
    {#                <div class="caption">#}
    {#                    <a href="#">#}
    {#                        <img src="{% static 'img/laptops.jpg' %}" alt="...">#}
    {#                    </a>#}
    {##}
    {#                    <h3>Laptops</h3>#}
    {##}
    {#                    <p>...................</p>#}
    {##}
    {#                    <a href="#" class="btn btn-primary" role="button">More Details</a>#}
    {##}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}

{% endblock %}
