{% extends 'base.html' %}

{% load static from staticfiles %}

{% block title %} Sellers {% endblock %}

{% block content %}
    <div class="page-header" align="center" xmlns="http://www.w3.org/1999/html">
        <h2> System Sellers</h2>
    </div>
    <div class="container">


        <div class="panel-body">
            <div class="col-md-6">
                <div id="search_block_top">
                    <div id="search_block_top_wrap">
                        <form id="searchbox" method="get"
                              action="{% url 'sellers:seller_list' %}" class="navbar-form navbar-left" autocomplete="on">
                        <div class="form-group"><input style="width: 250px; height: 40px"
                                    class="search_query form-control" type="text"
                                    id="search_query_top"
                                    placeholder="Enter Seller Name" name="search"/></div>
                            <button type="submit" class="btn btn-success button-search">Search For Sellers</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="pull-right">
                <a href="{% url 'sellers:sellerproduct_list' %}" align="pull-right"
                   class="btn btn-success"
                   role="button"><span class="glyphicon glyphicon-plus"></span>Sellers Products List </a>
            </div>
        </div>


        <table class="table table-hover" id="dev-table">
            <thead>
            <tr>

                <th>ID</th>
                <th>Name</th>
                <th>Contact</th>
                <th>Address</th>
                <th>Email</th>
                <th>Country</th>
                <th>Contact Person</th>
                <th class="text-center">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for seller in seller_list %}
                <tr>
                    <td>
                        {{ seller.id|capfirst }}
                    </td>

                    <td>
                        {{ seller.name|capfirst }}
                    </td>
                    <td>
                        {{ seller.contact|capfirst }}
                    </td>
                    <td>
                        {{ seller.address|capfirst }}
                    </td>

                    <td>
                        {{ seller.email|capfirst }}
                    </td>
                    <td>
                        {{ seller.country|capfirst }}
                    </td>

                    <td>
                        {{ seller.contact_person|capfirst }}
                    </td>
                    <td class="text-center">
                        <a class='btn btn-success btn-xs'
                           href="{% url 'sellers:edit_seller' seller.pk %}"><span
                                class="glyphicon glyphicon-edit"></span> Edit
                        </a>
                        <a href="{% url 'sellers:delete_seller' seller.pk %}"
                           class="btn btn-primary btn-xs"><span
                                class="glyphicon glyphicon-remove"></span> Delete
                        </a>
                        <a href="{% url 'sellers:detail_seller' seller.pk %}"
                           class="btn btn-danger btn-xs"><span
                                class="glyphicon glyphicon-folder-open"></span> Details
                        </a>
                    </td>

                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>

{% endblock %}
