{% extends "base.html" %}

{% load i18n %}

{% block head_title %}Log Out{% endblock %}

{% block content %}
<div class="col-sm-4 col-sm-offset-4" >
<h1>Log Out</h1>

<p>Are you sure you want to sign out?</p>

<form method="post" action="{% url 'accounts:logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button type="submit" class="btn btn-primary">Log Out</button>
</form>
</div>

{% endblock %}
