{% extends "base.html" %}
{% load bootstrap3 %}
{% load i18n %}

{% block head_title %}Signup{% endblock %}

{% block content %}

<div class="col-sm-4 col-sm-offset-4" >
<h1>Sign Up Now</h1>

<p>Already have an account? Then please <a href="{% url 'accounts:login' %}">Login In</a>.</p>

<form class="signup" id="signup_form" method="post" action="{% url 'accounts:signup' %}">
  {% csrf_token %}
  {% bootstrap_form form %}
  <button class="btn btn-primary" type="submit" >Sign Up </button>
</form>
</div>
{% endblock %}
