{% extends 'base.html' %}


{% block title %} Products List {% endblock %}

{% block content %}

 <h1 align="center">Available Products</h1>
    {#    <div class="col-md-12">#}
    {#        <form name="search" action="{% url "products:products_landing" %}" method="get"#}
    {#              placeholder="Search for Product">#}
    {#            <input type="search" class="search">#}
    {#            <input type="submit" class="button" name="submit" value="Product Search">#}
    {#        </form>#}
    {#    </div>#}


    <div class="col-xs-12  ">
        <div class="col-xs-4 col-md-3">
            <div class="thumbnail">
                <div class="caption">
                    <a href="#">
                        <img src='{% static "img/printers.jpg" %}' alt="...">
                    </a>


                    <h3>Printers</h3>

                    <p>......</p>

                    <a href="#" class="btn btn-primary" role="button">More Details</a>

                </div>
            </div>
        </div>
        <div class="col-xs-4 col-md-3">
            <div class="thumbnail">
                <div class="caption">
                    <a href="#">
                        <img src='{% static "img/laptops.jpg" %}' alt="...">
                    </a>


                    <h3>Printers</h3>

                    <p>......</p>

                    <a href="#" class="btn btn-primary" role="button">More Details</a>

                </div>
            </div>
        </div>
        <div class="col-xs-4 col-md-3">
            <div class="thumbnail">
                <div class="caption">
                    <a href="#">
                        <img src='{% static "img/hp laptop.jpg" %}' alt="...">
                    </a>


                    <h3>Printers</h3>

                    <p>......</p>

                    <a href="#" class="btn btn-primary" role="button">More Details</a>

                </div>
            </div>
        </div>

        <div class="col-xs-4 col-md-3">
            <div class="thumbnail">
                <div class="caption">
                    <a href="#">
                        <img src="{% static 'img/laptops.jpg' %}" alt="...">
                    </a>

                    <h3>Laptops</h3>

                    <p>...................</p>

                    <a href="#" class="btn btn-primary" role="button">More Details</a>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
