{% extends 'base.html' %}

{% load static from staticfiles %}

{% block title %} Products List {% endblock %}

{% block content %}
    {#    {% if request.user.is_authenticated %}#}
    <h1 align="center">Available Products</h1>

    <hr>
    <div class="container" align="center">

        <ul class="nav navbar-nav">

            <li><a href="# "></i> SELLERS </a></li>
            <li>
                <div class="panel-body">
                    <div class="col-md-12">
                        <div id="search_block_top" align="center">
                            <div id="search_block_top_wrap">
                                <form id="searchbox" method="get"
                                      action="{% url 'products:products_landing' %}">
                                    <input class="search_query form-control" type="text"
                                           id="search_query_top"
                                           placeholder="Search For Products" name="search"/>
                                    {#                                <button type="submit" class="btn btn-success button-search">Search Products</button>#}
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </li>
        </ul>
    </div>

    <hr>
    {#    {% for product in object_list %}#}
    {#    <div class="col-sm-3">#}
    {#        <br>#}
    {#        <img class='img-responsive' src="../media/{{ product.image }}" width="150" height="113">#}
    {#        {{ product.product_name }}<br>Ug.Shs {{ product.price }} Each<br>{{ product.category }}#}
    {#        </ul>#}
    {#    </div>#}
    {#    {% endfor %}#}
    {% for product in object_list %}
        <div class="col-xs-6 col-md-3">
            <div class="thumbnail">
                <div class="caption">
                    <a href="#">
                        <img class='img-responsive' src="../media/{{ product.image }}" width="150" height="113">
                    </a>
                </div>

                <h3> {{ product.product_name }}</h3>

                <p> Ug.Shs {{ product.price }} Each
                </p>
                {{ product.category }}
                <a href="#" class="btn btn-success" align="pull-right"
                   role="button"><span class="glyphicon glyphicon-plus"></span> More Details</a>
                {#                <a href="#" class="btn btn-success" role="button">More Details</a>#}

            </div>
        </div>
    {% endfor %}

    {#    {% else %}#}
    {#        <a href="{% url 'accounts:login' %}">Login</a>#}
    {#    {% endif %}#}




{% endblock %}
